.cache\n.npm\n.config\n.local\n.npm-global\n.wget-hsts\n.npmrc

.claude/

data/lava_gtex/gencode.v26.annotation.gtf

data/lava_gtex/all_snps/adrenal_gland.tar.zst
data/lava_gtex/all_snps/brain_amygdala.tar.zst
data/lava_gtex/all_snps/brain_anterior_cingulate.tar.zst
data/lava_gtex/all_snps/brain_caudate.tar.zst
data/lava_gtex/all_snps/brain_cerebellar.tar.zst
data/lava_gtex/all_snps/brain_cerebellum.tar.zst
data/lava_gtex/all_snps/brain_cortex.tar.zst
data/lava_gtex/all_snps/brain_frontal_cortex.tar.zst
data/lava_gtex/all_snps/brain_hippocampus.tar.zst
data/lava_gtex/all_snps/brain_hypothalamus.tar.zst
data/lava_gtex/all_snps/brain_nucleus_accumbens.tar.zst
data/lava_gtex/all_snps/brain_putamen.tar.zst
data/lava_gtex/all_snps/brain_spinal_cord.tar.zst
data/lava_gtex/all_snps/brain_substantia_nigra.tar.zst
data/lava_gtex/all_snps/cells_lymphocytes.tar.zst
data/lava_gtex/all_snps/pituitary.tar.zst
data/lava_gtex/all_snps/thyroid.tar.zst
data/lava_gtex/all_snps/whole_blood.tar.zst
